{{ define "navbar" }}
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Thunder-File Share</a>
        <a
          aria-expanded="false"
          aria-label="menu"
          class="navbar-burger"
          data-target="navbar-links"
          role="button"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbar-links">
        {{ if .IsAuthenticated }}
          <div class="navbar-start">
            <div class="navbar-item">
              <a class="button is-primary" href="/" role="menuitem"
                >Upload</a
              >
            </div>
            <a class="navbar-item" href="/files" role="menuitem">Files</a>
            <a class="navbar-item" href="/guest-links" role="menuitem"
              >Guest Links</a
            >
          </div>
        {{ end }}
        <div class="navbar-end">
          {{ if .IsAuthenticated }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" role="menuitem">System</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/information" role="menuitem"
                  >Information</a
                >
                <a class="navbar-item" href="/settings" role="menuitem"
                  >Settings</a
                >
                <a class="navbar-item" id="navbar-log-out" role="menuitem"
                  >Log Out</a
                >
              </div>
            </div>
          {{ else }}
            <div class="navbar-item">
              <a class="button is-primary is-rounded" href="/login" role="menuitem">
                Log In
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </nav>
{{ end }}
