{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1 class="title">ThunderShare - File sharing System</h1>

  <p>
  ThunderShare is a self-hosted file sharing system. It allows you to upload files and share them with others. You can also create guest links to share files with people who do not have an account.
  </p>

  <li style="text-decoration: none">
    <a href="https://koustav.dev">Portfolio</a>
    <a href="https://github.com/XxThunderBlastxX">GitHub</a>
  </li>
{{ end }}

{{ template "base.html" }}
